# Environment
.env
.env.*
!.env.example
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# Runtime storage and logs
storage/
logs/

# DB
*.db
*.sqlite3
*.sql
*.dump

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
